In [19]:
import pandas as pd
data = [[1, 100], [2, 200], [3, 300], [4, 400], [5, 500]]
employee = pd.DataFrame(data, columns=['Id', 'Salary']).astype({'Id':'Int64', 'Salary':'Int64'})
n = 2

In [20]:
employee["Salary"].nlargest(n, keep='first').iloc[-1]

np.int64(400)

In [27]:
pd.DataFrame({f"getNthHighestSalary({n})": [employee["Salary"].nlargest(n, keep='first').iloc[-1]]})

   getNthHighestSalary(2)
0                     400

In [28]:
[employee["Salary"].nlargest(n, keep='first').iloc[-1]]

[np.int64(400)]

In [25]:
len(employee)

5

In [33]:
employee["Salary"].sort_values().unique()[-n]

np.int64(400)